html {
  font-size: 62.5%;
}

body {
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  font: 1.4rem/1.5rem 'Inter', Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.theme-color-1 {
  background-color: rgb(255, 153, 200);
}

.theme-color-2 {
  background-color: rgb(252, 246, 189);
}

.theme-color-3 {
  background-color: rgb(208, 244, 222);
}

.theme-color-4 {
  background-color: rgb(169, 222, 249);
}

.theme-color-5 {
  background-color: rgb(228, 193, 249);
}

.agenda {
  display: grid;
  grid-template-rows: repeat(var(--total-minutes), 1px);
  grid-template-columns: 2em repeat(3, minmax(15em, auto));
  grid-column-gap: 15px;
  justify-content: left;
}

.day {
  font-size: 1.2rem;
  font-weight: normal;
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 .25em;
  z-index: 1;
  background: white;
  box-shadow: 0 4px 8px 3px rgba(255, 255, 255, 1), 0 -4px 8px 3px rgba(255, 255, 255, 1);
}

.day p {
  margin: 0;
  line-height: 1.15em;
}

.day-number {
  font-size: 2.4rem;
}

.time-hint {
  grid-column: 1 / 2;
  grid-row-start: calc(var(--start-minute) + 1);
  grid-row-end: calc(var(--end-minute) + 1);
  text-align: right;
  color: #858585;
  font-size: 1em;
  font-weight: normal;
  position: relative;
  margin: 0;
}

.time-hint {
  top: -.5em;
}

.time-hint sup {
  top: -0.25em;
  padding-left: 0.25em
}

.timebox {
  grid-column: 2 / 3;
  grid-row-start: calc(var(--start-minute) + 1);
  grid-row-end: calc(var(--end-minute) + 1);
  border-radius: 3px;
  margin: 1px 0 0 1em;
  padding: 5px 20px;
  max-width: 15em;
  box-shadow: 0 1px 1px gray;
  opacity: 90%;
  position: relative;
}

.timebox-canceled {
  background-color: rgba(230, 230, 230, 0.9);
  background-image:
    repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 15px, gray 15px, gray 17px),
    repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 15px, gray 15px, gray 17px);
  color: grey;
  box-shadow: 0 0 2px;
}

.timebox-draft {
  background-color: rgba(255, 255, 255, 1);
}

.timebox-draft textarea {
  padding: 0;
  background: 0;
  width: 100%;
  border: none;
  text-decoration: underline dotted;
  z-index: 10;
  resize: none;
}

.timebox-draft button {
  display: none;
}

.timebox h4 {
  font-weight: normal;
  margin-bottom: 0;
}

.timebox h5 {
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgb(48, 48, 48);
}

.timebox::before,
.timebox::after {
  content: "";
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);;
  display: block;
  height: 2px;
  left: 25%;
  right: 25%;
  position: absolute;
}

.timebox::before {
  top: 5%;
}

.timebox::after {
  bottom: 5%;
}

.timebox .closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-color: #eee;
  color: #666;
}

.timebox .closeBtn span {
  display: inline-block;
  font-size: 1.2rem;
  height: 12px;
  line-height: calc(1 / 1.2);
}

.timebox .closeBtn:hover {
  color: #333;
  border-color: #888;
  background-color: #ccc;
  cursor: pointer;
}

.track-2 {
  grid-column: 3 / 4;
}

.rule-major,
.rule-minor,
.rule-now {
  grid-column: 2 / 5;
  grid-row: calc(var(--start-minute) + 1);
}

.rule-major {
  border-top: 1px solid #ccc;
}

.rule-minor {
  border-top: 1px dashed #ccc;
}

.rule-now {
  position: relative;
  border-top: 2px solid #FF6550;
  z-index: 1;
  opacity: 80%;
}

.rule-now::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #FF6550;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: 4px;
}

.notifications {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.notification.error {
  background-color: hotpink;
}

.notification.info {
  background-color: gold;
}

.notification.success {
  background-color: aquamarine;
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: .5em 2em;
  transition: opacity 0.1s ease-in;
  height: 100%;
  border-bottom: 1px solid gray;
}

.notification::after {
  content: "×";
  font-size: 2rem;
  cursor: pointer;
}

.notification p,
.notification::after {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.notification.hide {
  opacity: 0
}